*{
  box-sizing: border-box;
}

::selection {
    color: white;
    background: black;
}

body {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: white;
    margin: 0;
    line-height: 30px;
    -webkit-font-smoothing: antialiased;
    /*overflow-y:hidden;*/
}

::-webkit-scrollbar {
    display: none;
}

.akzentbg {
  background-color: hsl(152, 89%, 61%);
}

.akzent {
  color: hsl(152, 89%, 61%);
}
.scrollprog{
  position: fixed;
  top: 0;
  right: 0px;
  height: 0%;
  padding: 0;
  margin: 0;
  width: 5px;
}

#mainwrapper{
  width: 100%;
  margin: 0;
}

main {
  padding: 8px;
  background-color: white;
  /* just for testing */
  /*min-height: 2000px;*/
}

/*svg, img{
  width: 50%;
}*/

a {
  text-decoration: none;
  /*font-weight: 900;*/
  color: inherit;
}
.indent{
  text-indent: 20px;
  margin-top: 0px;
}
p{
  margin-bottom: 0px;
  word-spacing: 0.05em;
}
section {
  margin-bottom: 20px;
}

a:hover {
  color: black !important;
  transition-duration: 500;
}

.lfloat, .rfloat {
  margin-top: 30px;
}

.year{
  font-size: 13px;
  color: white;
  font-weight: bold;
  padding: 1px 4px 1px 4px;
  margin-right: 3px;
}

.inlinesvg, .worksimg{
  max-width: 400px;
  margin: 0px auto 0 auto;
  display: block;
}
g{
  /*transform: rotate(100deg);*/
  transform-origin:center;
}


h1, h2, h3, h4, h5, h6 {
  /*font-family: Helvetica, Arial, serif;*/
  margin:0 0 10px 0;
  padding-top: 40px;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: normal;
}
h2, h3, h4, h5, h6{
  letter-spacing: 0.1em;
}
h4{
  font-size: 16px;
}
h1 {
  padding-top: 0px;
  /*text-transform: none;*/
  font-size: 14vw;
  color: white;
  -webkit-transform: rotateX(0deg); /* Safari */
  transform: rotateX(0deg);
  -ms-transform-origin: 0% 80%; /* IE 9 */
  -webkit-transform-origin: 0% 80%; /* Chrome, Safari, Opera */
  transform-origin: 0% 80%;
}

ul, ol {
  /*padding-left: 25px;*/
  list-style-type: none;
  padding:0;
  margin:0;
}
li{
  min-height: 50px;
  line-height:50px;
  margin-bottom: 20px;
}

footer {
  width: 100%;
}
.fcont{
  padding: 20px 20px 40px 20px;
  color: white;
  min-height: 300px;
  width: 800px;
  margin: 0 auto;
}
footer p {
  margin: 0px 0px 20px 0px;
}
footer a:hover {
  color: black;
  /*-webkit-filter: invert(100%);
  filter: invert(100%);*/
}
footer a:hover img {
  /*color: black;*/
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

footer .lfloat, footer .rfloat{
  margin-top: 0;
}

.clear{
  clear: both;
}
.worksimg{
  width: 100%;
}
.lightbox {
  display: none;
}
.socialicon{
  height: 50px;
  vertical-align:middle;
  margin-right: 10px;
}

@media only screen and (min-width: 800px) {
    /* For desktop: */
    body {
      font-family: 'Lato', Helvetica, Arial, sans-serif;
      font-size: 16px;
    }
    #mainwrapper{
      margin: 0px auto 0 auto;
      width:800px;
    }
    main{
        padding: 20px;
    }

    h1 {
      padding-top: 0px;
      /*text-transform: none;*/
      font-size: 114px;
      color: white;
    }

    .lfloat {
      float: left;
      width: 50%;
      padding-right: 15px
    }
    .rfloat {
      float: right;
      width: 50%;
      padding-left: 15px
    }
    .inlinesvg{
      width: 50%;
    }
    .lightbox {
    	/** Default lightbox to hidden
      CREDIT: https://codepen.io/gschier/pen/HCoqh
      */
    	display: none;

    	/** Position and style */
    	position: fixed;
    	z-index: 999;
    	width: 100%;
    	height: 100%;
    	text-align: center;
    	top: 0;
    	left: 0;
    	background: rgba(230,230,240,0.8);
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
    }
    .lightbox img {
    	/** Pad the lightbox image */
    	/*max-width: 90%;
    	max-height: 80%;*/
      height: 80%;
      margin: 5% auto auto auto;
    }
    .lightbox:target {
    	/** Remove default browser outline */
    	outline: none;

    	/** Unhide lightbox **/
    	display: block;
    }

}
