*{
  box-sizing: border-box;
}

::selection {
    color: white;
    background: hsl(152, 89%, 61%);
}

body {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: white;
    margin: 0;
    line-height: 30px;
    overflow-y:hidden;
}

.akzentbg {
  background-color: hsl(152, 89%, 61%);
}

.akzent {
  color: hsl(152, 89%, 61%);
}
.scrollprog{
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  padding: 0;
  margin: 0;
  height: 2px;
}

#mainwrapper{
  width: 100%;
  margin: 0;
}

main {
  padding: 8px;
  background-color: white;
  /* just for testing */
  /*min-height: 2000px;*/
}

/*svg, img{
  width: 50%;
}*/

a {
  text-decoration: none;
  /*font-weight: 900;*/
  color: inherit;
}
.indent{
  text-indent: 20px;
}

a:hover {
  color: black;
  transition-duration: 500;
}

.lfloat, .rfloat {
  margin-top: 30px;
}

.year{
  font-size: 13px;
  color: white;
  font-weight: bold;
  padding: 1px 4px 1px 4px;
  margin-right: 3px;
}

.inlinesvg, .worksimg{
  max-width: 400px;
  margin: 0px auto 0 auto;
  display: block;
}


h1, h2, h3, h4, h5, h6 {
  /*font-family: Helvetica, Arial, serif;*/
  margin:0 0 10px 0;
  padding-top: 40px;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: normal;
}
h4{
  font-size: 16px;
}
h1 {
  padding-top: 0px;
  /*text-transform: none;*/
  font-size: 14vw;
  color: white;
  -webkit-transform: rotateX(0deg); /* Safari */
  transform: rotateX(0deg);
  -ms-transform-origin: 0% 80%; /* IE 9 */
  -webkit-transform-origin: 0% 80%; /* Chrome, Safari, Opera */
  transform-origin: 0% 80%;
}

ul, ol {
  margin: 0;
  padding-left: 25px;
}

footer {
  padding: 40px 20px 0px 20px;
  color: white;
  min-height: 300px;
}
footer a:hover {
  color: black;
}

.clear{
  clear: both;
}

@media only screen and (min-width: 800px) {
    /* For desktop: */
    body {
      font-family: 'Lato', Helvetica, Arial, sans-serif;
      font-size: 16px;
    }
    #mainwrapper{
      margin: 0px auto 0 auto;
      width:800px;
    }
    main{
        padding: 20px;
    }

    h1 {
      padding-top: 0px;
      /*text-transform: none;*/
      font-size: 114px;
      color: white;
    }

    .lfloat {
      float: left;
      width: 50%;
      padding-right: 15px
    }
    .rfloat {
      float: right;
      width: 50%;
      padding-left: 15px
    }
    .inlinesvg{
      width: 50%;
    }
    .worksimg{
      width: 100%;
    }

}
