@font-face {font-family: 'Texta-Black';src: url('../fonts/Texta-Black-webfont.eot');src: url('../fonts/Texta-Black-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/Texta-Black-webfont.woff') format('woff'),url('../fonts/Texta-Black-webfont.ttf') format('truetype');}

/* @font-face {font-family: 'Texta-Bold';src: url('../fonts/Texta-Bold-webfont.eot');src: url('../fonts/Texta-Bold-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/Texta-Bold-webfont.woff') format('woff'),url('../fonts/Texta-Bold-webfont.ttf') format('truetype');} */

@font-face {font-family: 'Texta-Regular';src: url('../fonts/Texta-Regular-webfont.eot');src: url('../fonts/Texta-Regular-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/Texta-Regular-webfont.woff') format('woff'),url('../fonts/Texta-Regular-webfont.ttf') format('truetype');}
*{
  box-sizing: border-box;
}

::selection {
    color: white;
    background: black;
}

body {
    font-family: 'Texta-Regular', Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: white;
    margin: 0;
    line-height: 30px;
    -webkit-font-smoothing: antialiased;
}

/*::-webkit-scrollbar {
    display: none;
}*/

main > *:not(.transparent) {
  background-color: white;
}

.akzentbg {
  background-color: hsl(0, 89%, 61%);
  /* background-color: hsl(152, 89%, 61%); */
}
.back {
  background-image: url(../images/bg3.jpg);
  background-blend-mode: multiply;
  /* background-attachment: fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.transparent{
  background-color: none;
}

.akzent {
  color: hsl(0, 89%, 61%);
  /* color: hsl(152, 89%, 61%); */
}
/*.scrollprog{
  position: fixed;
  top: 0;
  right: 0px;
  height: 0%;
  padding: 0;
  margin: 0;
  width: 5px;
}*/


main {
  margin: 0px;
}
.white{
  padding: 8px;
}


a {
  text-decoration: underline;
  -webkit-text-decoration-skip: ink;
  /* text-decoration-color: black; */
  /*font-weight: 900;*/
  color: inherit;
  transition: all 200ms ease-out;
}
.indent{
  text-indent: 20px;
  margin-top: 0px;
}
p{
  margin-bottom: 0px;
  word-spacing: 0.05em;
}
section {
  margin-bottom: 50px;
}

a:hover {
  color: black !important;
  transition-duration: 500;
  text-decoration: none;
}

.year{
  font-size: 13px;
  background-color: white;
  font-weight: 900;
  font-family: 'Texta-Black', Helvetica, Arial, sans-serif;
  padding: 1.5px 4px 1px 4px;
  margin-right: 3px;
  position: relative;
  top: -2px;
}
.whiteentry .year{
  color: white;
}

.inlinesvg, .worksimg{
  margin: 0px auto 0 auto;
  display: block;
}
g{
  /*transform: rotate(100deg);*/
  transform-origin:center;
}


h1, h2, h3, h4, h5, h6 {
  /*font-family: Helvetica, Arial, serif;*/
  margin:0 0 10px 0;
  padding-top: 40px;
  font-size: 20px;
  font-weight: 900;
  font-family: 'Texta-Black', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  line-height: normal;
}
h2, h3, h4, h5, h6{
  letter-spacing: 0.1em;
}
h4{
  font-size: 20px;
}
h1 {
  padding-top: 0px;
  /*text-transform: none;*/
  font-size: 14vw;
  color: white;
  -webkit-transform: rotateX(0deg); /* Safari */
  transform: rotateX(0deg);
  -ms-transform-origin: 0% 80%; /* IE 9 */
  -webkit-transform-origin: 0% 80%; /* Chrome, Safari, Opera */
  transform-origin: 0% 80%;
}
.nodec {
  text-decoration: none!important;
}
strong{
  font-weight: 900;
  font-family: 'Texta-Black', Helvetica, Arial, sans-serif;
}

ul, ol {
  list-style-type: none;
  padding:0;
  margin:0;
}
li{
  display: inline;
}

.back {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -10;
  display: flex;
  align-content: flex-end;
  -webkit-align-content: flex-end;
  justify-content: center;
  height: 100vh;
}
footer {
  width: 100%;
  display: flex;
  align-content: flex-end;
  -webkit-align-content: flex-end;
  justify-content: center;
}
.fcont{
  color: white;
  font-family: 'Texta-Regular', Helvetica, Arial, sans-serif;
  font-size: 20px;
  margin: 300px auto 150px auto;
}
.copy{
  text-align: center;
  margin-top: 30px;
}
footer a:hover {
  color: black;
  /*-webkit-filter: invert(100%);
  filter: invert(100%);*/
}
footer a:hover img {
  /*color: black;*/
  /* -webkit-filter: invert(100%);
  filter: invert(100%); */
  transform: translateY(-10px)
}
footer img {
  transition: all 500ms cubic-bezier(.8, .5, .2, 1.4);
}


.worksimg{
  width: 100%;
}
.entry{
  padding: 50px 8px 50px 8px;
}

.phone{
  width: 300px;
  height: 600px;
  background: #FFF;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1), 0 8px 24px 0 rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.03), inset 0 -2px 2px 2px rgba(0, 0, 0, 0.05);
  border-radius: 40px;
  padding: 50px 10px;
  margin: 0px auto;
}
.screen{
  width: 100%;
  height: 100%;
  background: #FAFAFA;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  position: relative;
  z-index: 5;
}
.browser{
  width: calc(1px + 95vw + 1px);
  height: calc(0px + 73vw + 0px);
  background: white;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1), 0 8px 24px 0 rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.03), inset 0 -2px 2px 2px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding: 2px;
  margin: 0px auto;
}
.ipad{
  width: calc(1px + 95vw + 1px);
  height: calc(0px + 73vw + 0px);
  background: white;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1), 0 8px 24px 0 rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.03), inset 0 -2px 2px 2px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 15px 40px;
  margin: 0px auto;
}
.image{
  width: 100%;
}
.screen::before{
  content: "";
  top: 0;
  bottom: 0;
  /* width: 100%; */
  height: 100%;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  position: absolute;
  border-radius: 4px;
  z-index: 8;
  overflow: hidden;
}
.text p {
  margin-top: 0px;
  margin-bottom: 1em;
}

#imp{
  width: 100%;
  margin: 0px auto;
  padding: 50px 8px;
}

.rest{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-auto-flow: dense;
}

.tile {
  grid-column-end: span 1;
  grid-row-end: span 1;
  cursor: pointer;
}
.tile:focus{
  grid-column-end: span 4;
  grid-row-end: span 4;
  outline: none;
  border: none;
}
.rest > section {
  margin: 0px;
}

.lightbox {
  display: none;
}
.socialicon{
  vertical-align:middle;
  margin-right: 10px;
}
object{
  pointer-events: none;
}

iframe{
  width: 95vw;
  height: 95vw;
  border: none;
}

@media only screen and (min-width: 800px) {
    /* For desktop: */
    body {
      font-size: 16px;
    }
    main{
      width: 100%;
      padding: 0px;
    }
    .white{
      display: grid;
      grid-template-columns: 1fr repeat(2, 400px) 1fr;
      grid-auto-rows: minmax(100px, auto);
      grid-column-gap: 50px;
      /* grid-row-gap: 50px; */
      grid-template-areas:
        "....... header header ......."
        "....... about about ......."
        ".......  physics htw  ......."
        ".......  bar rebikel  ......."
        ".......  portfolio portfolio  .......";
    }
    .intro{
      /* display: grid;
      grid-template-columns: 1fr repeat(2, 400px) 1fr;
      grid-auto-rows: minmax(100px, auto);
      grid-column-gap: 10px;
      grid-row-gap: 1em; */
    }
    header{
      grid-area: header;
    }
    .about {
      grid-area: about;
    }
    .physics{
      grid-area: physics;
    }
    .bar{
      grid-area: bar;
    }
    .htw{
      grid-area: htw;
    }
    .rebikel{
      grid-area: rebikel;
    }
    .portfolio{
      grid-area: portfolio;
    }

    .transparent {
    }
    .entry{
      width: 850px;
      margin: 0px auto;
      padding: 100px 0px 50px 0px;
    }
    .whiteentry{
      background-color: white;
      width: 100%;
    }
    .works{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 50px;
    }
    .works > h3{
      grid-column: 1 / 3;
    }
    .browsers{
      grid-column: 1 / 3;
      max-height: 650px;
    }
    .image{
      grid-column: 1 / 3;
      width: 850px;
      height: 850px;
      background-color: white;
    }
    iframe{
      width: 100%;
      height: 100%;
    }
    .browser {
      position: relative;
      width: calc(1px + 800px + 1px);
      height: calc(0px + 615px + 0px);
      /* -webkit-transition: all 300ms ease-in-out;  */
      transition: all 500ms cubic-bezier(.8, .5, .2, 1.4);
      cursor: pointer;
    }

    .top{
      transform: translate(-20px,-20px) scale(1);
      z-index: 100;
    }
    .bottom{
      transform: translate(25px,20px) scale(0.95);
      z-index: 2;
    }
    .top:hover {
      transform: translate(-10px,-10px) scale(0.98);
    }
    .top:hover + .bottom{
      transform: translate(10px,10px) scale(0.98);
    }
    .bottom:hover{
      transform: translate(15px,10px) scale(0.95);
    }
    .b{
      top: -615px;
    }
    .ipad {
      width: calc(40px + 800px + 40px);
      height: calc(15px + 600px + 15px);
      border-radius: 40px;
    }



    h1 {
      padding-top: 0px;
      /*text-transform: none;*/
      font-size: 139px;
      color: white;
      margin: 0px;
    }
    h3{
      font-size: 30px;
    }
    .text {
      font-size: 20px;
      line-height: 1.7;
    }


    #imp > *{
      width: 850px;
      margin: 0px auto;
      padding: 50px 0px;
    }
    #imp{
      width: 100%;
      background-color: white;
    }
    .inlinesvg{
      width: 50%;
    }
    .lightbox {
    	/** Default lightbox to hidden
      CREDIT: https://codepen.io/gschier/pen/HCoqh
      */
    	display: none;

    	/** Position and style */
    	position: fixed;
    	z-index: 999;
    	width: 100%;
    	height: 100%;
    	text-align: center;
    	top: 0;
    	left: 0;
    	background: rgba(255,255,255,0.8);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
    }
    .lightbox iframe{
      height: 80%;
      width: 80vh;
      margin: 5% auto auto auto;
      border: none;
    }
    .lightbox img{
    	/** Pad the lightbox image */
    	/*max-width: 90%;
    	max-height: 80%;*/
      height: 80%;
      margin: 5% auto auto auto;
    }
    .lightbox:target {
    	/** Remove default browser outline */
    	outline: none;

    	/** Unhide lightbox **/
    	display: block;
    }

}
